* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
form {
  position: relative;
  width: 460px;
  height: 380px;
  margin: 150px auto;
  border: 2px solid black;
  padding: 10px;
}

form > div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
  margin: 30px 20px;
}

form > div > input,
form > div > select {
  min-height: 20px;
  min-width: 200px;
}

.comment-box {
  display: block;
  height: 100px;
}

.comment-box > textarea {
  display: block;
  margin: 20px 0 0 0;
  padding: 8px;
  width: 100%;
  height: 80px;
  resize: none;
}

input[type="submit"] {
  position: absolute;
  background-color: #76a5af;
  color: white;
  box-shadow: 1px 4px black;
  width: 70px;
  height: 40px;
  right: 16px;
  bottom: 16px;
}
