* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

h2 {
  margin: 20px 20px;
  text-decoration: underline;
}

main {
  position: relative;
  width: 460px;
  height: 380px;
  margin: 150px auto;
  border: 2px solid black;
  padding: 10px;
}

main > div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  padding: 0 20px;
  margin: 10px 20px;
}

button {
  position: absolute;
  color: white;
  background-color: #76a5af;
  box-shadow: 1px 4px black;
  width: 70px;
  height: 40px;
  right: 16px;
  bottom: 16px;
}
