* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.btn-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
