<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="align-items-center m-auto mt-2 w-75">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-4">
          <button class="btn" onclick="home()">Test App</button>
          <button class="btn" onclick="dashboard()">Dashboard</button>
          <button class="btn" onclick="profile()">Profile</button>
        </div>
        <button class="btn" onclick="logout()">Log off</button>
      </div>
    </header>
    <hr class="m-1" />
    <main>
      <div
        class="d-flex justify-content-start w-75 m-auto align-items-center mt-5"
      >
        <h1>All Users</h1>
      </div>
      <table class="table table-bordered table-striped w-75 m-auto">
        <tr>
          <th>ID</th>
          <th>Name^</th>
          <th>email</th>
          <th>created_at</th>
          <th>user_level</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.created_at}}</td>
          <td>{{user.user_level}}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
  <script>
    function logout() {
      window.location.href = "/logout";
    }

    function dashboard() {
      window.location.href = "/dashboard";
    }

    function home() {
      window.location.href = "/";
    }

    function profile() {
      window.location.href = "/users/show/{{request.session.user_id}}";
    }
  </script>
</html>
